<!DOCTYPE html>
<html>
<body style="background-color:#e5e5d8">
<div style="position:absolute; width:500px; height:500px; top:50%; left:50%; margin:-250px 0px 0px -250px;">
    <div style="display:table-cell; width:500px; height:500px; text-align:center; vertical-align:middle;">
        <h1 style="text-align:center;">로또 추첨기!</h1>
    
        <div align="center">
            <%=image_tag @picknumber0_image %>
            <%=image_tag @picknumber1_image %>
            <%=image_tag @picknumber2_image %>
            <%=image_tag @picknumber3_image %>
            <%=image_tag @picknumber4_image %>
            <%=image_tag @picknumber5_image %>
        </div> 
        
        <p>  </p>
    
        <div align="center">
            <button type="submit" class="ct-btn white" style="font-size:20px; padding: .5em .75em; border-radius: .25em; background: white" onclick="location.href='https://lotto-yoojinn93.c9users.io/'">다시 뽑을래요!</button>
        </div>
    </div>
</div>
</body>
</html>